.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

@media screen and (max-width: 640px){
    .menuText {
        display: none;
    }
}
