.container {
}

.list {
  list-style: none;
  margin: 0;
  display: grid;
  padding: 10px 0;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  justify-content: space-around;
  gap: 30px 14px;
}

.item {
  width: 100%;
  max-width: 450px;
}

@media screen and (min-width: 1250px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
